{% extends 'layout/base.html' %}
{% block css %}
        <style>
            .layui-layer-content {
            text-align: center;
            margin: 20px;
            white-space: pre-wrap;
        }
    </style>
{% endblock %}
{% block context %}
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <span class="layui-breadcrumb">
                      <a href="">资源库</a>
                      <a><cite>接口管理</cite></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <form class="layui-form">
                <div class="layui-card" id="config_list">
                    <div class="layui-card-body">
                        <div class="layui-form layui-border-box">
                            <div id="exe_case">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <button class="layui-btn layui-btn-normal" type="button" data-method="info_set">
                                            新增接口
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <select name="case_search_type" class="layui-form-select" lay-filter="pro_list"
                                                id="pro_list">
                                            <option value="">请选择所属项目</option>
                                            {% for pro in pro_list %}
                                                <option value="{{ pro.id }}">{{ pro.project_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="layui-inline">
                                        <select name="case_search_type" class="layui-form-select" lay-filter="no"
                                                id="pro_module">
                                            <option value="">请选择所属模块</option>
                                        </select>
                                    </div>
                                    <div class="layui-inline">
                                        <select name="case_search_type" class="layui-form-select"
                                                lay-filter="case_search_type"
                                                id="case_search_type">
                                            <option value="">请选择搜索条件</option>
                                            <option value="id">接口ID</option>
                                            <option value="re_name__contains">接口名称</option>
                                            <option value="re_path__contains">接口地址</option>
                                            <option value="developer__contains">开发者</option>
                                        </select>
                                    </div>
                                    <div class="layui-inline">
                                        <input class="layui-input" name="search_data" id="search_data"
                                               autocomplete="off">
                                    </div>
                                    <div class="layui-inline">
                                        <button class="layui-btn layui-btn-warm" type="button" data-type="reload"
                                                data-method="search_case">搜索
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <script type="text/html" id="bar">
                                <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="info">查看详情</a>
                            </script>
                            <table class="layui-hide" id="request_table" lay-filter="request_table"></table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        layui.use(['layer', 'form', 'table'], function () {
            var $ = layui.jquery, layer = layui.layer, form = layui.form, table = layui.table;
            //触发事件
            var active = {
                info_set: function () {
                    window.location.href = '{% url "ResourceCenter:CreateRequestsIndex" %}'
                },
                search_case: function () {
                    //模块必须选择
                    var project_id = $("#pro_module  option:selected").attr("value");
                    var search_data = $("#search_data").val();
                    var search_type = $("#case_search_type").find("option:selected").attr("value");
                    if (search_data == "" && search_type != "") {
                        layer.open({
                            title: '警告！'
                            , content: '请检查您的搜索条件……'
                        });
                        return
                    } else if (search_data != "" && search_type == "") {
                        layer.open({
                            title: '警告！'
                            , content: '请检查您的搜索条件……'
                        });
                        return
                    }
                    var re_data = {};
                    re_data[search_type] = search_data;
                    re_data["project_id"] = project_id;
                    re_data['project__parent__id__in'] = $("#auto_pro_list").attr('value');
                    re_data['abandon_flag'] = 1;
                    console.log(re_data);
                    table.reload('request_table', {
                        url: '/resourcecenter/api/requests/',
                        page: {
                            curr: 1
                        }
                        , where: {
                            search_data: JSON.stringify(re_data)
                        },
                        done: function (res) {
                            //如果是异步请求数据方式，res即为你接口返回的信息。
                            //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                            table_cache = res.results;
                        }
                    })
                }

            };

            $('#config_list .layui-btn').on('click', function () {
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

            var table_cache;

            var re_data = {};
            re_data['project__parent__id__in'] = $("#auto_pro_list").attr('value');
            re_data['abandon_flag'] = 1;

            table.render({
                elem: '#request_table'
                , url: '/resourcecenter/api/requests/'
                , id: 'request_table'
                , toolbar: true
                , where: {
                    search_data: JSON.stringify(re_data)
                }
                , cols: [[
                    {field: 'id', title: '接口ID', width: 80}
                    , {field: 're_name', title: '接口名称', width: 200}
                    , {field: 're_path', title: '接口地址'}
                    , {field: 're_method', title: '请求方式', width: 80}
                    //, {field: 'developer', title: '开发者', width: 100}
                    , {field: 'project_name', title: '所属模块', width: 100}
                    //, {field: 'edition', title: '版本', width: 100}
                    , {
                        field: 'abandon_flag', title: '状态', width: 100, templet: function (res) {
                            if (res.abandon_flag == 1) {
                                return '<input type="checkbox" lay-skin="switch" lay-text="启用|禁用" lay-filter="Enable" checked>'
                            } else {
                                return '<input type="checkbox" lay-skin="switch" lay-text="启用|禁用" lay-filter="Enable">'
                            }
                        }
                    }
                    , {field: 'updated_at', title: '操作时间', width: 150}
                    , {field: 'updated_by', title: '操作人', width: 100}
                    //, {field: 'if_update', title: '是否更新', width: 100}
                    , {title: '操作', align: '操作', toolbar: '#bar', width: 80}
                ]]
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 200 //规定成功的状态码，默认：0
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'results' //规定数据列表的字段名称，默认：data
                    , msgName: 'errorMsg'
                },
                page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'] //自定义分页布局
                    , curr: 1 //设定初始在第 5 页
                    , groups: 5//只显示 1 个连续页码
                },
                done: function (res) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    table_cache = res.results;
                }
            });

            //监听工具条删除按钮
            table.on('tool(request_table)', function (obj) {
                if (obj.event === 'info') {
                    console.log(obj.data.id);
                    window.location.href = '{% url "ResourceCenter:RequestsInfo" %}' + '?id=' + obj.data.id
                }
            });

            form.on('switch(Enable)', function (data) {
                layer.confirm('是否确认更新数据状态，这可能导致该数据在列表中不显示。', {icon: 3, title: '更新结果'}, function (index) {
                    //do something
                    layer.close(index);
                    var elem = data.othis.parents('tr');
                    var dataindex = elem.attr("data-index");
                    var data_id;
                    var abandon_flag;
                    //console.log(dataindex);
                    if (elem.find("input:checkbox").is(':checked')) {
                        abandon_flag = 1;
                        //console.log('启用');
                    } else {
                        abandon_flag = 0;
                        //console.log('禁用');
                    }
                    $.each(table_cache, function (index, value) {
                        if (value.LAY_TABLE_INDEX == dataindex) {
                            data_id = value.id
                        }
                    });
                    var load_index = layer.load();
                    $.ajax({
                        url: '{% url "ResourceCenter:RequestsApi" %}',
                        data: JSON.stringify({
                            data_id: data_id,
                            abandon_flag: abandon_flag,
                        }),
                        cache: false,
                        async: false,
                        type: "PUT",
                        dataType: "json",
                        success: function (result) {
                            if (result.code == 200) {
                                layer.close(load_index);
                                layer.confirm('更新成功', {icon: 1, title: '更新结果'}, function (index) {
                                    //do something
                                    layer.close(index);
                                });
                            } else {
                                layer.close(load_index);
                                layer.open({
                                    title: '更新结果'
                                    , content: result.responseJSON
                                });
                            }
                        },
                        error: function (result) {
                            layer.close(load_index);
                            layer.open({
                                title: '更新结果'
                                , content: result.responseJSON
                            });
                        },
                    })
                });
            });

            form.on('select(pro_list)', function (data) {
                var pro_id = data.value;
                var re_data = {
                    parent_id: pro_id,
                    abandon_flag: 1,
                };
                //console.log(pro_id); //复选框value值，也可以通过data.elem.value得到
                $.ajax({
                    url: '{% url "BaseCenter:ProjectApi" %}',
                    data: {
                        search_data: JSON.stringify(re_data)
                    },
                    cache: false,
                    async: false,
                    type: "GET",
                    dataType: "json",
                    success: function (result) {
                        if (result.code == 200) {
                            var info = result.results;
                            //console.log(info);

                            var strs = '';

                            for (let i = 0; i < info.length; i++) {
                                strs += '<option value = "' + info[i].id + '">' + info[i].project_name + '</option>';
                            }
                            $("#pro_module").html(strs);
                        }
                        form.render('select');
                    },
                    error: function (result) {
                        layer.open({
                            title: '更新结果'
                            , content: result.responseJSON,
                            btn: ['知道了……'],
                            yes: function () {
                                window.location.reload();
                            }
                        });
                    }
                    ,
                })
            });
        });
    </script>
{% endblock %}
